@import "tailwindcss";

/* Scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #2d2d2d;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #4a5568;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}

/* Scrollbar for Firefox */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #4a5568 #2d2d2d;
}
